.marquee {
  padding: 1rem 0;
  overflow: hidden;
  display: flex;
  max-width: 100vw;
  &-text {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: marquee 30s linear infinite;
    text-transform: uppercase;
    white-space: nowrap;

    &::after {
      content: '';
      border-radius: 50%;
      background-color: $black;
      width: 0.625rem;
      height: 0.625rem;
      margin: 0 0.625rem;
    }
  }
}

@keyframes marquee {
  0% {
    transform: translate(0);
  }

  to {
    transform: translate(calc(-100% - 1rem));
  }
}
