.header {
  background-color: $white;
  &-inner {
    padding: 1.15rem 0;
  }
  .container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    position: relative;
  }
  &-left,
  &-right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
  }
  &-center {
    display: flex;
    justify-content: center;
  }
}
