.footer-about {
  h3 {
    margin-bottom: 20px;
    text-decoration: underline;
    color: $white;
  }

  .footer-element {
    padding: 10px 0px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
      text-decoration-color: white;
    }
  }
}
